body{
    background-image: url(Harimau.jpg);
    font-family: 'Garamond',sans-serif;
    background-size: cover;   
}
#center{
    background-color: #445055;
    margin-left: 380px;
    margin-right: 400px;
    width: 500px;
    height: 600px;
    display: flex;
    flex-direction: row-reverse;
    text-align: center;
}
.Login{
    text-align: center;
    padding-right: 120px;
    font-size: 20px;
}
::placeholder{
   font-family: 'Garamond',sans-serif;
}
#email{
    padding: 3px;
}
#pass{
    padding: 3px;
}
#btn{
    border-radius: 50px;
    height:55px ;
    width:250px ;
    color: white;
    background-color: grey;
    border: 2px solid white ;
    transition: 0.3s;
    margin-left: 20px;
    font-size: 20px;
}
#btn:hover{
    background-color: #445055;
}
#ref{
    color: white;
    text-decoration: none;
    padding-left: 10px;
}
#ref:hover{
    color: aqua;
}